# Environment Variables
.env

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db